* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: Arial, Sans-serif;
}

header,
.main,
aside,
footer {
    padding: 20px;
}

.contenedor {
    width: 700px;
    margin: 20px;
}