* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
}
.contenedor{
    width: 400px;
    margin: 40px;
   
}
.formulario{
     .contenedor-inputs{
        padding: 20px;
        background-color: #fff;
        border-radius: 6px 6px 0 0;
    }   
    input[type="text"], 
    input[type="email"]{
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding: 15px 10px;
        border: none;
        border-bottom:2px solid #ccc ;
        font-family: 'Slabo 27px', serif;
        font-size: 18px;
    } 
    input[type="text"]:focus, 
    input[type="email"]:focus{
        border-bottom:2px solid #246eb9;
    }
    input[type="radio"]{
        display: none;   
    }
    .sexo{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 20px;
        .hombre{
            border-radius: 3px 0 0 3px;
        }
        .mujer{
            border-radius: 3px 0 0 3px;
        }
    }
    .label-radio{
        background-color: rgba(249,160,63,.4);
        color: #fff;
        padding: 10px;
        text-align: center;
        width: 49.5%;
    } 
    input[type="radio"]:checked + .label-radio{
       background-color: #f9a03f;    
    }
    .terminos{
        text-align: center;
        color: #424242;
        label{
            margin-left: 10px;
        }
    }
    .error{
        display: none;
        margin-top: 20px;
        border-radius: 3px;
        background-color: #ce1818;
        color: #fff;
        padding: 15px 10px;
        padding-left: 40px;
    }
    .btn{
        width: 100%;
        text-align: center;
        background-color: #246eb9;
        color: #fff;
        border: none;
        display: block;
        padding: 15px 10px;
        cursor: pointer;
        border-radius: 0 0 6px;
        font-family: 'Slabo 27px', serif;
        font-size: 18px;
        &:hover{
            background-color: #4357ad;
        }
    }
}