<section class="main">
    <section class="caracteristicas">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="titulo">Caracteristicas</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 caracteristica">
                    <img src="../../../assets/img/icono1.png" alt="">
                    <h4 class="primera_linea">Lorem, ipsum.</h4>
                    <p class="parrafo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus!</p>
                </div>
                <div class="col-sm-4 caracteristica">
                    <img src="../../../assets/img/icono2.png" alt="">
                    <h4 class="primera_linea">Lorem, ipsum dolor.</h4>
                    <p class="parrafo">Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
                <div class="col-sm-4 caracteristica">
                    <img src="../../../assets/img/icono3.png" alt="">
                    <h4 class="primera_linea">Lorem, ipsum.</h4>
                    <p class="parrafo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, distinctio!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="fotos"></section>
    <section class="clientes"></section>
    <section class="precios"></section>
    <section class="reviews"></section>
</section>