.main {
    .caracteristicas {
        padding: 70px 0;
        .titulo {
            text-align: center;
            font-family: "Open Sans", Arial, sans-serif;
            font-weight: 300;
            font-size: 32px;
            color: #000;
            margin-bottom: 70px!important;
        }
        .caracteristica {
            text-align: center;
            .icono {
                vertical-align: top;
            }
            .primera_linea {
                font-weight: 700;
                margin-top: 30px!important;
                margin-bottom: 30px!important;
                font-size: 20px;
            }
            .parrafo {
                margin-bottom: 30px!important;
                line-height: 28px;
            }
        }
    }
    .fotos {
        margin: 70px!important;
        .foto {
            margin-bottom: 20px;
            .thumb {
                img {
                    border-radius: 3px;
                    width: 100%;
                    vertical-align: top;
                }
            }
            .titulo {
                margin-top: 70px!important;
                margin-bottom: 40px!important;
                font-size: 32px;
                line-height: 32px;
                font-weight: 300!important;
                &.azul {
                    color: #4facd3;
                }
                &.naranja {
                    color: #ddb146;
                }
            }
            .parrafo {
                line-height: 28px;
            }
            .derecha {
                text-align: right;
            }
        }
    }
}